<html>
		<head>
			
			<title>Institut de beauté Moment de soi Mons en Pévèle</title>
			
			<meta name="keywords" content="institut, moment, de, soi, mons, en, pévèle, lille, beauté " />
			<meta name="description" content="L'institut de beauté Moment de soi situé au 547 rue Saint Jean 59246 Mons-en-Pévèle est ouvert du Mardi au samedi. Une large gamme de soins vous y est proposée"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta charset="utf-8"/>
			<script src="bootstrap/jquery/jquery-3.1.1.min.js"></script>
			<script src="bootstrap/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"></link>
			<link href="css/accueil.css" rel="stylesheet"></link>
			<link rel="stylesheet" href="css/navbar.css"></link>
			<link rel="stylesheet" href="css/footer.css"></link>
			<script type="text/javascript" src="js/script.js"></script>
			
		
			
			<meta name="google-site-verification" content="9EM6tIv90KZJc-SxlrFPWrv9h7szuqr29ENPLp7Y4Tw" />
		</head>

	<body>

		<header>

			<nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:insert="~{common :: Header}">
				
		</nav>

	</header> 
	
	
	
	
	
<!-- Carousel-->
	
		<div class="carousel fade-carousel slide carousel-fade" data-ride="carousel" data-interval="4000" id="carou">
  
			  <!-- Indicateur -->
			  <ol class="carousel-indicators">
				<li data-target="#carou" data-slide-to="0" class="active"></li>
				<li data-target="#carou" data-slide-to="1"></li>
				<li data-target="#carou" data-slide-to="2"></li>
				<li data-target="#carou" data-slide-to="3"></li>
				<li data-target="#carou" data-slide-to="4"></li>
				<li data-target="#carou" data-slide-to="5"></li>
			  </ol>
  
			<!-- Cadre pour les slides -->
		  <div class="carousel-inner ">
			<div class="item slides active">
			  <div class="slide-1">
				  <div class="overlay"></div>
			  </div>
			  <div class="hero">
				<hgroup>
					<h1>Moment de soi</h1>        
					<h3>Institut de beauté et de bien être</h3>
				</hgroup>
				<a class="js-scrollTo" href="#infos"><button class="btn btn-hero btn-lg" role="button">Informations</button></a>
			  </div>
			</div>
			<div class="item slides">
			  <div class="slide-2">
				  <div class="overlay"></div>
			  </div>
			  <div class="hero">        
				<hgroup>
					<h1>Moment de soi</h1>        
					<h3>Institut de beauté et de bien être</h3>
				</hgroup>       
				<a class="js-scrollTo" href="#infos"><button class="btn btn-hero btn-lg" role="button">Informations</button></a>
			  </div>
			</div>
			<div class="item slides">
			  <div class="slide-3">
				  <div class="overlay"></div>
			  </div>
			  <div class="hero">        
				<hgroup>
					<h1>Moment de soi</h1>        
					<h3>Institut de beauté et de bien être</h3>
				</hgroup>
				<a class="js-scrollTo" href="#infos"><button class="btn btn-hero btn-lg" role="button">Informations</button></a>
			  </div>
			</div>
			
			<div class="item slides">
			  <div class="slide-4">
				  <div class="overlay"></div>
			  </div>
			  <div class="hero">        
				<hgroup>
					<h1>Moment de soi</h1>        
					<h3>Institut de beauté et de bien être</h3>
				</hgroup>
				<a class="js-scrollTo" href="#infos"><button class="btn btn-hero btn-lg" role="button">Informations</button></a>
			  </div>
			</div>
			
			<div class="item slides">
			  <div class="slide-5">
				  <div class="overlay"></div>
			  </div>
			  <div class="hero">        
				<hgroup>
					<h1>Moment de soi</h1>        
					<h3>Institut de beauté et de bien être</h3>
				</hgroup>
				<a class="js-scrollTo" href="#infos"><button class="btn btn-hero btn-lg" role="button">Informations</button></a>
			  </div>
			</div>
			
			<div class="item slides">
			  <div class="slide-6">
				  <div class="overlay"></div>
			  </div>
			  <div class="hero">        
				<hgroup>
					<h1>Moment de soi</h1>        
					<h3>Institut de beauté et de bien être</h3>
				</hgroup>
				<a class="js-scrollTo" href="#infos"><button class="btn btn-hero btn-lg" role="button">Informations</button></a>
			  </div>
			</div>
			
			
		  </div> 
		  </div>
	
	
	<!-- Titre Suggestion -->
	
	<div class="titre_sugestion">
	
	<h1>Notre suggestion du moment</h1>
	
	
	</div>
	
	<!-- Suggestion -->
	
	<div id="suggestion">
		<section class="suggestion-home">
		  <div class="container">
			
			  
			  <div class="row-page row" >
			 
			 <!-- Définir la taille de mes blocs -->
				<div class="col-page col-xs-12 col-sm-12 col-md-6 col-lg-3" th:each="suggestion :${suggestions}" th:id="${suggestion.idsuggestion}"  >
				<!-- Met ton ancre dans le lien -->
				  <a href="Prestation"  class="cadre">
					
					<div class="imgmin">
					<figure class="effect-roxy-accueil" >
					  <img class="img-responsive taille" th:src="${suggestion.image}"/>
					  </figure>
					</div>
					<div class="txtmin">
					  <h3 th:text="${suggestion.titre}"></h3>
					  <h4 ><strong th:text="${suggestion.soustitre}"></strong></h4>
					  <p th:text="${suggestion.text}"></p>
					</div>
					<div class="pop-up">
					  <span>Voir</span>
					</div>
				  </a>
				</div>
				
				
				
				
			</div>
		  </div>
		</section>
	</div>
	
	
	
	<!--footer-->
	
	<footer id="infos">
	
	<div class="container marketing" th:insert="~{common :: Footer}">

      </div>
	  
	  
	  </footer>
	  
	  <!-- boutton admin -->
		  <div class="btn-cache"><a class="btn-cache" href="connexion"> Connection</a> </div>
	 

   

    


		
</body>	
</html>