<html>
	<head>
		
		<title>Modification contact</title>
		<link rel="stylesheet" href="css/modif.css">
		
	</head>

	<body>
		
				<h1> Modification du contact </h1>
		
			<form method="post" action="ModifContact" enctype="multipart/form-data">
     
				<div class="modif">
					<label>photo</label>
					<input class="cadre" name="photo" type="file" size="50" maxlength="40"   required/>
					
				</div>
				
				
				</div>
				
				<button type="submit" class="btn">Valider</button>
				
				
		
				
		</form>
	
	
	
		
	</body>
	
</html>