<html>
<head>
			
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<script src="bootstrap/jquery/jquery-3.1.1.min.js"></script>
			<script src="bootstrap/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"></link>
			<link rel="stylesheet" href="css/carte_cadeau.css"></link>
			<link rel="stylesheet" href="css/navbar.css"></link>
			<link rel="stylesheet" href="css/footer.css"></link>
			<link rel="stylesheet" href="css/Style.css"></link>
			<script type="text/javascript" src="js/script.js"></script>
		
			<title>Moment de soi</title>
		
		</head>



<body>

<header>

			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>                        
						</button>
						
					</div>
					
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="accueil.html" class="dropdown-toggle" data-toggle="dropdown">ACCUEIL <b class="caret"></b></a>
								<ul class="dropdown-menu">
									
									
									<li class="dropdown-header"><a href="Accueil.html"><p class="topprestation">Suggestion</p></a></li>
										
										
									<li class="divider"></li>
									
									<li class="dropdown-header"><a href="accueil.html#infos"><p class="topprestation">Informations</p></a></li>					
										
									
								</ul>
						</li>
						<li class="dropdown">
							<a href="prestation.html" class="dropdown-toggle" data-toggle="dropdown">PRESTATIONS <b class="caret"></b></a>
								<ul class="dropdown-menu">
									
									
									<li class="dropdown-header"><a href="prestation.html"><p class="topprestation">SOINS VISAGE</p></a></li>
										<li><a href="#"><p class="prestation">Nettoyage profond</p></a></li>
										<li><a href="#"><p class="prestation">Hydratation intense</p></a></li>
										<li><a href="#"><p class="prestation">Anti-age</p></a></li>
										
									<li class="divider"></li>
									
									<li class="dropdown-header"><a href="#"><p class="topprestation">SOINS CORPS</p></a></li>
										<li><a href="#"><p class="prestation">Exfoliation</p></a></li>
										<li><a href="#"><p class="prestation">Hydratation</p></a></li>
										<li><a href="#"><p class="prestation">Relaxation</p></a></li>
										
									<li class="divider"></li>
									
									<li class="dropdown-header"><a href="#"><p class="topprestation">SOINS SPECIFIQUES</p></a></li>
										
									<li class="divider"></li>
									
									<li class="dropdown-header"><a href="#"><p class="topprestation">EPILATION</p></a></li>
										
									<li class="divider"></li>
									
									<li class="dropdown-header"><a href="#"><p class="topprestation">REGARD ET MAQUILLAGE</p></a></li>
										
																		
										
									
								</ul>
						</li>
						<!--<li><a href="#portfolio">RESERVATION</a></li>-->
						<li><a href="carte_cadeau.html">CARTES CADEAUX</a></li>
						<li><a href="#contact">PRODUIT YONKA</a></li>
					</ul>
				</div>
			</div>
		</nav>

	</header>




<!-- Formulaire-->


<div id="blocform">

<legend class="text-center">OFFRIR UNE CARTE CADEAU</legend>
<div class="container">
	<div class="row">
     
          <form class="form-horizontal col-lg-6" action="" method="post">
          
            
    
            <!-- Pour -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Offert à :</label>
              <div class="col-md-8">
                <input type="text" class="form-control">
              </div>
            </div>
    
            <!-- De -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">De la part de :</label>
              <div class="col-md-8">
                <input type="text" class="form-control">
              </div>
            </div>
    
            <!-- Soin -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="message">Pour un soin Yon-ka :</label>
              <div class="col-md-8">
                <input class="form-control" type="text">
              </div>
            </div>
			
			<!-- Jusqu'au -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="message">Offre valable jusqu'au</label>
              <div class="col-md-8">
                <input class="form-control" type="text">
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-perso">Valider</button>
              </div>
            </div>
          
          </form>
		  
		  
		  <div class="col-lg-6">
		  
		  <div id="googleMap" style="height:240px;width:100%;"></div>
		  
		  </div>
        
	  </div>
	  </div>
</div>
<img class="carte-cadeau" src="img/carte-cadeau.jpg"/>


<hr/>








<!--footer-->
	
	<footer id="infos">
	
	<div class="container marketing">

     
	
	 
	 
	 <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="img/phone.png" alt="Generic placeholder image" width="100" height="100">
          <h2 class="text_footer">CONTACT</h2>
          <div class="col-md-4">
                    <ul class="part">
                        <li class="text_footer">Téléphone</li>
                        </br>
												
						<li class="text_footer">Mail</li>
                        
					</ul>
				</div>
				
				<div class="col-md-8">
                    <ul class="part">
                        <li class="text_footer">06 54 48 28 12</li>
                        <li class="text_footer">06 12 23 45 66</li>
						<li class="text_footer">sylvie.plus@outlook.fr</li>
						
                        
					</ul>
				</div>
          
        </div>
		
        <div class="col-lg-4">
          <img class="img-circle" src="img/time.png" alt="Generic placeholder image" width="100" height="100">
          <h2 class="text_footer">HORAIRES</h2>
          <div class="col-md-6">
                    <ul class="part">
                        <li class="text_footer">Dimanche/Lundi</li>
                        <li class="text_footer">Mardi/Vendredi</li>
                        <li class="text_footer">Samedi</li>
						
                        
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="part">
                        <li class="text_footer">Fermé</li>
                        <li class="text_footer">9h30 - 19h00</li>
						<li class="text_footer">9h30 - 14h00</li>
						
                        
                    </ul>
                </div>
          
        </div>
		
		<div class="col-lg-4">
		
		<img class="img-circle img-home" src="img/home.png" alt="Generic placeholder image" width="100" height="100">
          <h2 class="text_footer">NOUS TROUVER</h2>
		  <p class="text_footer"> 547 rue Saint Jean  59246 Mons-en-Pévèle</p> 
		
		
		</div>
		
        
      </div>
	  
	  
	  </footer>

</body>
</html>