<html>
<head>

<title>Modification contact</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"></link>
<link href="../css/form.css" rel="stylesheet"></link>

</head>

<body>

	<div class="row">
		<div class="col-lg-10 col-md-9">

			<h1 class="Mtitre">Modification d'une Prestation</h1>
		</div>

	</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="tableaudebord">


					<div class='container'>
						<div class='row'>

							<form class="form-horizontal" method="post" action="ModifPresta">

								<div class='row'>
									<div class="col-lg-12">
										<div class="Titre">
											<span class="prg">Information Prestation</span>
										</div>
									</div>
								</div>
								<div class='row'>

									<div class="col-lg-6">


										<div class="form-group">
											<label class="col-sm-2 control-label">Sélectionner la
												prestation à modifier </label><br /> <select name="IdPresta">
												<option th:value="${prestation.idprestation}"
													th:each="prestation :${prestations}">[[${prestation.nom}]]</option>

											</select> </br>

										</div>

																			
											
										<div class="form-group">
											<label class="col-sm-2 control-label">Sélectionner sa
												catégorie </label><br /> <select name="Idsouscat">
												<option th:value="${souscategorie.idsouscategorie}"
													th:each="souscategorie :${souscat}">[[${souscategorie.nom}]]</option>

											</select>

										</div>
										
										
										<div class="form-group">
											<label class="col-sm-2 control-label">Nom :</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" name="nom">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Description :</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" name="description">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Prix :</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" name="prix">
											</div>
										</div>



										<input class="btn" type="submit" value="Valider" />
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>