<html>
	<head>
		<title>Moment de soi</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script src="bootstrap/jquery/jquery-3.1.1.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="css/navbar.css"></link>
		<link href="css/prestations.css" rel="stylesheet"></link>
		<link rel="stylesheet" href="css/footer.css"></link>
		<script type="text/javascript" src="js/script.js"></script>

	
	</head>

<body>

			<header>

			<nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:insert="~{common :: Header}">
				
		</nav>

	</header>
	
	
	





<!-- Container (Pricing Section) -->

<div id="soinduvisage" class="grid">

	<figure class="effect-roxy">
        <img class="size" src="img/yonka/soinvisage.jpg"></img>              
    </figure>
	</div>

  <div class="jumbotron text-center">
    <h1>Soins du visage</h1>
	 <a class=" js-scrollTo" href="#soinduvisagescroll"><span class="glyphicon glyphicon-download downloadbutton"></span></a>
  </div>
 

  

<div id="soinduvisagescroll" class="container-fluid">
  <div class="row slideanim" >
    <div class="col-sm-3 col-xs-12" th:each="souscategorie :${souscat}" th:if="${souscategorie.idcat ==1}">
	<div class="panel panel-default text-center">
	<div class="panel-heading" >
          <h3 th:text="${souscategorie.nom}"></h3>
		 
        </div>
       <div class="panel-body">
          <div class="marge" th:each="prestation :${prestations}" >
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}"><strong  th:text="${prestation.nom}"></strong>&nbsp;<i th:text="${prestation.prix}" ></i> </p>
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}" th:text="${prestation.description}"></p>
			
			  </div>
			  
        </div>
	</div>
    </div>          
    
	
	
  </div>

  <hr width="100%">
 </div>
 
 
  <div id="soinsspe" class="grid">

	<figure class="effect-roxy">
        <img class="size" src="img/yonka/soinsspe.jpg"></img>              
    </figure>
	</div>
	
	  <div class="jumbotron text-center">
    <h1>Soins spécifiques</h1>
	 <a class=" js-scrollTo" href="#soinsspescroll"><span class="glyphicon glyphicon-download downloadbutton"></span></a>
  </div>
  
  <div id="soinduvisagescroll" class="container-fluid">
  <div class="row slideanim" >
    <div class="col-sm-3 col-xs-12" th:each="souscategorie :${souscat}" th:if="${souscategorie.idcat ==2}">
	<div class="panel panel-default text-center">
	<div class="panel-heading" >
          <h3 th:text="${souscategorie.nom}"></h3>
		 
        </div>
       <div class="panel-body">
          <div class="marge" th:each="prestation :${prestations}" >
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}"><strong  th:text="${prestation.nom}"></strong>&nbsp;<i th:text="${prestation.prix}" ></i> </p>
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}" th:text="${prestation.description}"></p>
			
			  </div>
			  
        </div>
	</div>
    </div>          
    
	
	
  </div>

  <hr width="100%">
 </div>
 
	
	
	
	
	
	  <div id="parcours" class="grid">

	<figure class="effect-roxy">
        <img class="size" src="img/yonka/soinsspe.jpg"></img>              
    </figure>
	</div>
	
	  <div class="jumbotron text-center">
    <h1>Parcours Bien-Être</h1>
	 <a class=" js-scrollTo" href="#parcoursscroll"><span class="glyphicon glyphicon-download downloadbutton"></span></a>
  </div>
  
  <div id="soinduvisagescroll" class="container-fluid">
  <div class="row slideanim" >
    <div class="col-sm-3 col-xs-12" th:each="souscategorie :${souscat}" th:if="${souscategorie.idcat ==3}">
	<div class="panel panel-default text-center">
	<div class="panel-heading" >
          <h3 th:text="${souscategorie.nom}"></h3>
		 
        </div>
       <div class="panel-body">
          <div class="marge" th:each="prestation :${prestations}" >
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}"><strong  th:text="${prestation.nom}"></strong>&nbsp;<i th:text="${prestation.prix}" ></i> </p>
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}" th:text="${prestation.description}"></p>
			
			  </div>
			  
        </div>
	</div>
    </div>          
    
	
	
  </div>

  <hr width="100%">
 </div>
 
	
	
	
	
	
	<div id="soinscorps" class="grid">

	<figure class="effect-roxy">
        <img class="size" src="img/yonka/soincorps.jpg"></img>              
    </figure>
</div>

  <div class="jumbotron text-center">
    <h1>Soins du corps</h1>
	<h6><i>Les soins du corps sont des soins relaxants à but non thérapeutiques</i></h6>
	 <a class=" js-scrollTo" href="#soinscorpsscroll"><span class="glyphicon glyphicon-download downloadbutton"></span></a>
  </div>


	<div id="soinduvisagescroll" class="container-fluid">
  <div class="row slideanim" >
    <div class="col-sm-3 col-xs-12" th:each="souscategorie :${souscat}" th:if="${souscategorie.idcat ==4}">
	<div class="panel panel-default text-center">
	<div class="panel-heading" >
          <h3 th:text="${souscategorie.nom}"></h3>
		 
        </div>
       <div class="panel-body">
          <div class="marge" th:each="prestation :${prestations}" >
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}"><strong  th:text="${prestation.nom}"></strong>&nbsp;<i th:text="${prestation.prix}" ></i> </p>
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}" th:text="${prestation.description}"></p>
			
			  </div>
			  
        </div>
	</div>
    </div>          
    
	
	
  </div>

  <hr width="100%">
 </div>
 



   <div id="uva" class="grid">

	<figure class="effect-roxy">
        <img class="size" src="img/yonka/uva.jpg"></img>              
    </figure>
	</div>
	
	  <div class="jumbotron text-center">
    <h1>UVA</h1>
	<h6><i>Sous les UV, le port de lunettes est obligatoire</i></h6>
	 <a class=" js-scrollTo" href="#bronzage"><span class="glyphicon glyphicon-download downloadbutton"></span></a>
  </div>
	
	
	<div id="soinduvisagescroll" class="container-fluid">
  <div class="row slideanim" >
    <div class="col-sm-3 col-xs-12" th:each="souscategorie :${souscat}" th:if="${souscategorie.idcat ==5}">
	<div class="panel panel-default text-center">
	<div class="panel-heading" >
          <h3 th:text="${souscategorie.nom}"></h3>
		 
        </div>
       <div class="panel-body">
          <div class="marge" th:each="prestation :${prestations}" >
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}"><strong  th:text="${prestation.nom}"></strong>&nbsp;<i th:text="${prestation.prix}" ></i> </p>
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}" th:text="${prestation.description}"></p>
			
			  </div>
			  
        </div>
	</div>
    </div>          
    
	
	
  </div>

  <hr width="100%">
 </div>
 
	
	
	   <div id="epilation" class="grid">

	<figure class="effect-roxy">
        <img class="size" src="img/yonka/cire.jpg"></img>              
    </figure>
	</div>
	
	 <div class="jumbotron text-center">
    <h1>Epilations</h1>
	
	 <a class=" js-scrollTo" href="#epilationscroll"><span class="glyphicon glyphicon-download downloadbutton"></span></a>
  </div>
	
	<div id="soinduvisagescroll" class="container-fluid">
  <div class="row slideanim" >
    <div class="col-sm-3 col-xs-12" th:each="souscategorie :${souscat}" th:if="${souscategorie.idcat ==6}">
	<div class="panel panel-default text-center">
	<div class="panel-heading" >
          <h3 th:text="${souscategorie.nom}"></h3>
		 
        </div>
       <div class="panel-body">
          <div class="marge" th:each="prestation :${prestations}" >
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}"><strong  th:text="${prestation.nom}"></strong>&nbsp;<i th:text="${prestation.prix}" ></i> </p>
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}" th:text="${prestation.description}"></p>
			
			  </div>
			  
        </div>
	</div>
    </div>          
    
	
	
  </div>

  <hr width="100%">
 </div>
 
	
	
	
	    <div id="regardmaquillage" class="grid">

	<figure href="regardmaquillage" class="effect-roxy">
        <img class="size" src="img/yonka/maquillageregard.jpg"></img>              
    </figure>
	</div>
	
	  <div class="jumbotron text-center">
    <h1>Le Regard et Maquillage</h1>
	 <a class=" js-scrollTo" href="#regardmaquillagescroll"><span class="glyphicon glyphicon-download downloadbutton"></span></a>
  </div>
 
  
                        
 <div id="soinduvisagescroll" class="container-fluid">
  <div class="row slideanim" >
    <div class="col-sm-3 col-xs-12" th:each="souscategorie :${souscat}" th:if="${souscategorie.idcat ==7}">
	<div class="panel panel-default text-center">
	<div class="panel-heading" >
          <h3 th:text="${souscategorie.nom}"></h3>
		 
        </div>
       <div class="panel-body">
          <div class="marge" th:each="prestation :${prestations}" >
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}"><strong  th:text="${prestation.nom}"></strong>&nbsp;<i th:text="${prestation.prix}" ></i> </p>
			<p th:if="${prestation.idsouscat == souscategorie.idsouscategorie}" th:text="${prestation.description}"></p>
			
			  </div>
			  
        </div>
	</div>
    </div>          
    
	
	
  </div>

  <hr width="100%">
 </div>
 



<!--footer-->
	
	<footer id="infos">
	
	<div class="container marketing" th:insert="~{common :: Footer}">

      </div>
	  
	  
	  </footer>




</body>
</html>