.btnBackADD{
	position:absolute;
	top:20%;
	left:10%;
	width:5%;
	z-index:3;
	
}

.btnBackSUP{
	position:absolute;
	top:30%;
	left:10%;
	width:5%;
	z-index:3;
	
}



.ModifFooter{
	color:red;
	text-decoration:none;
}