
.inline {
display: inline-block;
}
label {
min-width: 120px;
}
.Titre {
background:#6E6E6E;
height: 46px;
color: #000;
font-size: 23px;
height: 46px;
line-height: 40px;
padding: 0 0 0 20px;
margin: 20px 0 20px;
}

.Mtitre{
	color:#298A08;
	margin-left:10%;
}